$break-point: 850px;

$color-background: black;
$color-background-lighter: lighten($color-background, 10%);
$color-white: #fff;
$color-primary: #FEDC32;
$color-secondary: #aa4919;
$color-danger: #E75A3A;

$border-radius: 0.3em;

@font-face {
  font-family: 'Suez One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Suez One'), local('SuezOne-Regular'), url(https://fonts.gstatic.com/s/suezone/v3/taiJGmd_EZ6rqscQgOFOmouC-50x.woff2) format('woff2');
}

// Widths/Sizes for Fluid-Type //
$min-width: 300px;
$max-width: 850px;
$max-header-font: 70px;
$min-header-font: 20px;
$max-sub-header-font: 24px;
$min-sub-header-font: 15px;

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}