// $max-width: 66rem;
// $breakpoint: 48rem;

$color-black: black;
$color-white: #fff;
$color-yellow: #FEDC32;
$color-orange: #aa4919;
$color-red: #E75A3A;
$color-grey: #9da3a5;

$border-radius: 0.3em;